{% extends 'base.html.twig' %}

{% block title %}
	All programs
{% endblock %}

{% block content %}
    
 
	<h1>{{ program.title }}</h1>
    <img src="{{ program.poster }}" alt="{{ program.title }} poster">
	<p>résumé:
		<br>
		{{ program.summary }}</p>
    <div id="trait_dessus"></div>
	<h2>Saison
		{{season.number}} ({{ season.year }})</h2>
	<p>liste des épisodes :</p>
	{% for episode in season.episodes %}

		<div class="col">
				<button class="favorite styled">
					<a href="{{ path("program_episode_show", { slug : program.slug , season_id: season.id, slug_episode: episode.slug }) }}" type="button">
						épisode 
						{{ episode.number }} </a>
				</button>
        </div>
	{% endfor %}
	<a href="{{ path('program_show', { slug: program.slug }) }}">
		Retour à la fiche détaillée
	</a>
{% endblock %}