{% extends 'base.html.twig' %}

{% block title %}
	All programs
{% endblock %}

{% block content %}
    
 
	<h1>{{ program.title }}</h1>
    <img src="{{ program.poster }}" alt="{{ program.title }} poster">
	<p>résumé:
		<br>
		{{ program.summary }}</p>
    <div id="trait_dessus"></div>
	<h2>Saison
		{{season.number}} ({{ season.year }})</h2>
	<p>liste des épisodes :</p>
	{% for episode in season.episodes %}

		<div class="col">
				<button class="favorite styled">
					<a href="{{ path("program_episode_show", { 'program': program.id, 'season': season.id, 'episode': episode.id }) }}" type="button">
						épisode 
						{{ episode.number }} </a>
				</button>
        </div>
	{% endfor %}
	<a href="{{ path('program_show', { id: program.id }) }}">
		Retour à la fiche détaillée
	</a>
{% endblock %}